body,html {
  margin: 0;
  height: 100%; 
}

.jumbo-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.glitch.com/026ecfe0-b54c-4d94-976d-8f6d9a79d7be%2Fblur-close-up-collage-196655.jpg?1556985085148");
  height: 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.jumbo-text{
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.jumbo-text.h1{
  font-size: 40px;
}
.jumbo-text button{
  color: white;
  background-color: green;
  cursor: pointer; 
}

.jumbo-text button:hover{
  background-color: white;
  color: black;
}

.jumbo-search{
  height: 85%;
  color: black;
  position: relative;
  left: 90%;
  top: 136%;
  transform: translate(-50%, -50%);
  
}

.jumbo-search button{
  color: white;
  background-color: blue;
  top: 5%;
  cursor: pointer; 
}
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #969696;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}